@charset "utf-8";

.center p{
	padding-bottom: 30px;
	color: #a9a7a7;
}

.center p.cap{
	padding-left: 20px;
}

.center ol{
	padding-left: 3.5em;
	padding-bottom: 30px;
}

.center ol li{
	line-height: 1.5em;
	font-size: 14px;
}

.center ul{
	padding-bottom: 30px;
}

.center ul li{
	font-size: 14px;
}

.center dl{
	padding-left: 20px;
}

.center dl dt{
	font-size: 14px;
	font-weight: bold;
}

.center dl dd{
	padding: 0.5em 0 2.5em 0;
	color: #a9a7a7;
}

.center dl dd a{
	color: #a9a7a7;
	text-decoration: underline;
}

.center p a{
	color: #a9a7a7;
	text-decoration: underline;
}

.center dl dd pre{
	padding: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px inset;
	background-color: #CCC;
	border: 1px solid #BBB;
	border-bottom-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}

.center dl dd pre code{
	color: #000;
}
ul.libpath {
    padding-bottom: 0px;
}

ul.libpath li{
    font-size: 11px;
    padding: 2px;
	color: #a9a7a7;
}

dl dt.platform {
    font-size: 11px;
}