@charset "utf-8";

*{
	text-decoration: none;
	margin: 0px;
	font-family: 'Lucida Grande', 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0;
	list-style: none;
	color: #ffffff;
}

ul{
	padding: 0;
}

a img{
	border-style:none;
}

br {
	letter-spacing: 0;
}

.clear{
	clear: both;
}

a:hover{
	color: #0072BA;
}

/*header*/
body {
	width : 100%;
	margin : 0px;
	background-color: #141010;
}

#wrapper{
	width: 920px;
	margin: 0 auto;
}

#header{
}

#header img{
	padding: 30px 0 20px 0;
	height: 30px;
	float: left;
}

#header ul{
	padding: 40px 0 0 400px;
	float: left;
}

#header ul li{
	float: left;
	padding-left: 30px;
}

#header ul li	a{
	font-size: 18px;
}

.bLine{
	width: 920px;
	height: 6px;
	background-image: url("../img/bLine.jpg");
	background-repeat: no-repeat;
}

.bLineSide{
	margin: 15px 0;
	width: 135px;
	height: 3px;
	background-color: #0072BA;
}

/*main*/
#main{
	padding-top: 30px;
}

/*side*/
.side{
	float: left;
	width: 165px;
}

.sideContents{
	padding-left: 15px;
}

.side span{
	padding: 15px 0 5px 0;
	font-size: 18px;
	display: block;
}

.side p{
	font-weight: bold;
}

.side ul{
	padding: 10px 0 0 8px;
}

.topSpace{
	margin-top: 55px;
}

/*center*/
.center{
	width: 740px;
	float: left;
}

.center h1{
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 30px;
}

.center h1 img{
	padding-left: 6px;
}

.center p{
	padding-bottom: 15px;
}

/*footer*/
#footer{
	padding-top: 30px;
}

.copyright{
	padding: 5px 0;
}

.copyright p img{
	padding-right: 3px; 
}

.copyright span{
	padding-top: 15px;
	font-size: 10px;
	width: 244px;
	color: #545353;
	display: block;
	margin: 0 auto;
}