@charset "utf-8";

.tumbLine{
	width: 920px;
	padding-bottom: 50px;
}

.tumbBox{
	float: left;
}

.tumbBox p{
	padding-bottom: 10px;
}

.tumbBox a img{
	border: 2px #fff solid;
}

.tumbBox a img.noborder{
	border: none;
}

.tumbBox img{
	width: 300px;
	height: 155px;
}

.marginL20{
	margin: 0 4px;
}