@charset "utf-8";

.tumbLine{
	width: 920px;
	padding-bottom: 50px;
}

.tumbBox{
	float: left;
}

.tumbBox img{
	width: 300px;
	height: 155px;
}

.marginL20{
	margin: 0 10px;
}

/*fooFolder*/
.contents{
	width: 920px;
}

.contents img{
	width: 920px;
}

.contentsText{
	padding-top: 30px;
	width: 450px;
	float: left;
}

.marginL10{
	margin-left: 20px;
}

.contentsText h2{
	font-size: 14px;
	padding-bottom: 10px;
}

.contentsText p{
	color: #a9a7a7;
}

.paddingT20{
	padding-top:20px;
}

.contentsText ol{
	padding-left: 1.5em;
}

.contentsText ul{
	padding-top: 10px;
}

.contentsText li{
	color: #a9a7a7;
}

.contentsText pre{
	padding: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px inset;
	background-color: #EEE;
	border: 1px solid #DDD;
	border-bottom-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}

.contentsText pre code{
	color: #141010;
}