@charset "utf-8";

.center p{
	padding-bottom: 30px;
	color: #a9a7a7;
}

.center p.cap{
	padding-left: 20px;
}

.center ol{
	padding-left: 3.5em;
	padding-bottom: 30px;
}

.center ol li{
	line-height: 1.5em;
	font-size: 14px;
}

.center ul{
	padding-bottom: 30px;
}

ul.featuresList li{
	font-size: 14px;
}

.center dl{
	padding-left: 20px;
}

.center dl dt{
	font-size: 14px;
	font-weight: bold;
}

.center dl dd{
	padding: 0.5em 0 2.5em 0;
	color: #a9a7a7;
}

.center dl dd a{
	color: #a9a7a7;
	text-decoration: underline;
}

.center p a{
	color: #a9a7a7;
	text-decoration: underline;
}

.center dl dd pre{
	padding: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px inset;
	background-color: #CCC;
	border: 1px solid #BBB;
	border-bottom-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}

.center dl dd pre code{
	color: #000;
}

.center pre{
	overflow: auto;
}

ul.libpath {
    padding-bottom: 0px;
}

ul.libpath li{
    font-size: 11px;
    padding: 2px;
	color: #a9a7a7;
}

dl dt.platform {
    font-size: 11px;
}

ul.newsList{
	padding-left: 1.5em;
	list-style: disc;
}

ul.newsList li{
	font-size: 12px;
	color: #a9a7a7;
	padding-bottom: 10px;
}

table{
	width: 740px;
	margin: 20px 0 60px 0;
}

table th{
	height: 40px;
	width: 28%;
	border: #888 dashed;
	border-width: 0 0 1px 1px;
}

table th.border_left{
	border-width: 0 0 1px 0;
}

table th.border_none{
	border-width: 0;
}

table td{
	width: 18%;
	text-align: center;
	border: #888 dashed;
	border-width: 0 0 1px 1px;
}

table td img{
	width: 12px;
}

table td.border_bottom{
	border-width: 0 0 0 1px;
}