@charset "utf-8";

*{
    text-decoration: none;
    margin: 0px;
    font-family: 'Lucida Grande', 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    color: #ffffff;
    list-style: none;
    border-style:none;
    padding: 0;
}

body {
    width : 100%;
    margin : 0px;
    background-color: #000;
}

#main a:hover{
    color: #0072BA;
}

#wrapper{
    padding: 0 20px;
    width: 920px;
    margin: 0 auto;
}

/*header*/
#header{
    overflow: hidden;
}

#header img{
    padding: 30px 0 20px 0;
    height: 30px;
    float: left;
}

#header ul{
    padding: 43px 0 0 20px;
    float: left;
}

#header ul li{
    float: left;
    padding-left: 30px;
}

#header ul li a{
    padding-top: 5px;
    font-size: 18px;
}

#header ul li .selected{
    font-size: 18px;
    padding-top: 5px;
    border-top: 3px solid #0072BA;
}

#header ul li a:hover{
    color: #ffffff;
    border-top: 3px solid #0072BA;
}

/*main*/
#main{
    overflow: hidden;
    min-height: 700px;
}

#main:before{
    padding-top: 30px;
    content: "";
    display: block;
    width: 920px;
    height: 6px;
    background-image: url("../img/bLine.jpg");
    background-repeat: no-repeat;
}

/*side*/
#side{
    float: left;
    width: 165px;
    padding: 0;
}

#side div:before{
    content: "";
    display: block;
    margin: 15px 0;
    width: 155px;
    height: 3px;
    background-color: #0072BA;
}

#side span{
    padding: 15px 0 5px 0;
    font-size: 18px;
    display: block;
}

#side p{
    font-size: 14px;
    font-weight: bold;
}

#side p a{
    font-size: 14px;
    font-weight: bold;
}

#side ul{
    padding: 10px 0 0 8px;
}

#side ul li{
    padding-bottom: 0.5em;
}

/*tw*/
#btn_tw_casmi{
    padding-top: 20px;
}

#btn_tw_casmi a{
    display: block;
    width: 150px;
    height: 30px;
    background-image: url("../img/btn_tw.png");
}

#btn_tw_casmi a:hover{
    background-image: url("../img/btn_tw_h.png");
}

/*gh*/
#btn_gh_casmi{
    padding-top: 20px;
}

#btn_gh_casmi a{
    display: block;
    width: 150px;
    height: 30px;
    background-image: url("../img/btn_gh.png");
}

#btn_gh_casmi a:hover{
    background-image: url("../img/btn_gh_h.png");
}

#top-area:after{
    position: absolute;
    top: 350px;
    left: 0px;
    content: "";
    display: block;
    width: 920px;
    height: 6px;
    background-image: url("../img/bLine.jpg");
    background-repeat: no-repeat;
}

#top-area {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 390px;
}

#top-area h1 {
    display: block;
    position: absolute;
    top: 18px;
    left: 17px;
    margin: 0px;
    padding: 0px;
    font-size: 26px;
    font-weight: normal;
    color: #C0C0C0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top-area p {
    display: block;
    position: absolute;
    top: 224px;
    left: 17px;
    margin: 0px;
    padding: 0px;

    color: #A9A7A7;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top-area pre {
    color: #FFFFFF;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 13px;
    display: block;
    position: absolute;
    top: 12px;
    left: 500px;
    background: none;
    border: 1px solid #444;
    margin: 0px;
    padding: 20px;
    letter-spacing: 1px;
    overflow: hidden;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
}

#top-area pre span {
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

#top-area pre span.nt {
    color: #2b96d9;
}

/*center*/
#main #center{
    padding-left: 20px;
    width: 720px;
    float: right;
}

#center p strong{
    display: block;
}

#center h1, #full h1 {
    font-size: 26px;
    font-weight: normal;
    color: #808080;
    margin-bottom: 30px;
}

#center h2:first-child, #full h2:first-child {
    padding: 12px 0 15px 0;
}

#center h2, #full h2 {
    font-size: 20px;
    font-weight: normal;
    padding: 58px 0 15px 0;
}

#center h3, #full h3 {
    font-size: 14px;
    font-weight: normal;
    padding: 40px 0 8px 10px;
}

#center h4, #full h4 {
    font-size: 12px;
    font-weight: normal;
    padding: 15px 0px 5px 20px;
}

#center p, #full p{
    color: #A9A7A7;
    padding: 0 20px 20px 20px;
}

#center a, #full a{
    color: #5893b8;
}

#full a.title {
    font-weight: bold;
    color: #FFF;
}

#center ol, #full ol{
    color: #A9A7A7;
    padding: 10px 38px;
}

#center ol li, #full ol li{
    list-style: decimal;
    padding:5px 0;
}

#full ol li p{
    padding: 0 !important;
}

#center ul {
    padding: 10px 30px;
}

#center ul li {
    padding:5px 0;
}

#full ul {
    padding: 10px 38px;
}

#full ul li{
    padding:5px 0;
    list-style: disc;
}

#center pre, #full pre {
    margin: 10px 38px;
    padding: 15px 20px;
    background-color: #ddd;
    border-bottom: 1px solid #333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    overflow: hidden;
}

#center pre code, #full pre code{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    line-height: 1.8em;
    color: #333;
}

p code, li code {
    font-family: 'Lucida Grande', 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, Helvetica, sans-serif;
    background-color: #505050;
    color: #ffffff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*gallery*/
#full{
    width: 920px;
}

.thumbnails .thumbnailBox p{
    padding: 0 0 10px 0 !important;
}

.thumbnails{
    padding-top: 23px;
    overflow: hidden;
}

.thumbnails .thumbnailBox{
    padding-bottom: 50px;
    width: 304px;
    float: left;
}

.thumbnails .thumbnailBox:nth-child(2n+1){
    margin: 0 2px;
}

.thumbnails .thumbnailBox a img{
    border: 2px solid #fff;
}

.contents img{
    width: 920px;
}

/*footer*/
#footer{
    overflow: hidden;
    padding-top: 30px;
}

#footer:before{
    content: "";
    display: block;
    width: 920px;
    height: 6px;
    background-image: url("../img/bLine.jpg");
    background-repeat: no-repeat;
}

.copyright{
    padding: 5px 0;
}

.copyright p img{
    padding-right: 3px;
}

.copyright span{
    padding-top: 15px;
    font-size: 10px;
    width: 280px;
    color: #545353;
    display: block;
    margin: 0 auto;
}
