<div id="header">
  <a href="/">
    <img src="/assets/img/logo.png" alt="casmi" />
  </a>
  <ul>
    <li><a class="selected" href="/">About</a></li>
    <li><a href="/apidocs/casmi-0.3.2/">Document</a></li>
    <li><a href="/download/">Download</a></li>
    <li><a href="/gallery/">Gallery</a></li>
  </ul>
</div>
