{% for n in navigation %}
<div>
  <p><a href="#{{ n.slug }}">{{ n.name }}</a></p>
</div>
  {% if n.list %}
    <ul>
      {% for l in n.list %}
      <li><a href="#{{ l.slug }}">{{ l.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

<p id="btn_tw_casmi">
  <a href="https://twitter.com/casmi_project" target="_blank">
  </a>
</p>

<p id="btn_gh_casmi">
  <a href="https://github.com/casmi/" target="_blank">
  </a>
</p>
