{% for n in navigation %}
<div>
  <p><a href="#{{ n.slug }}">{{ n.name }}</a></p>
</div>
  {% if n.list %}
    <ul>
      {% for l in n.list %}
      <li><a href="#{{ l.slug }}">{{ l.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
