{% extends "base.tmpl" %}

{% block extrahead %}
<link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    <div id="top-area">
      <h1>2D/3D visualization library for Java</h1>

<pre><span class="nt">&lt;dependency&gt;</span>
    <span class="nt">&lt;groupId&gt;</span>com.github.casmi<span class="nt">&lt;/groupId&gt;</span>
    <span class="nt">&lt;artifactId&gt;</span>casmi<span class="nt">&lt;/artifactId&gt;</span>
    <span class="nt">&lt;version&gt;</span>{{ version }}<span class="nt">&lt;/version&gt;</span>
<span class="nt">&lt;/dependency&gt;</span>
</pre>

<p>
  casmi is a 2D/3D visualization library for Java. <br />
  It can support programmers with simple and intuitive interfaces for implementation. <br />
  It can work on cross platform. <br />
  casmi is suitable for visualization, because it is originally designed for information visualization, especially with huge data sets. <br />
</p>
    </div>

    <div id="full">
      {{ post.text(lang) }}
    </div>

{% endblock %}
