{% extends "base.tmpl" %}

{% block extrahead %}
  <link href="http://fonts.googleapis.com/css?family=Titillium+Web:200" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div id="top-area">
      <h1>2D/3D visualization for Java</h1>

<pre><span class="nt">&lt;dependency&gt;</span>
    <span class="nt">&lt;groupId&gt;</span>com.github.casmi<span class="nt">&lt;/groupId&gt;</span>
    <span class="nt">&lt;artifactId&gt;</span>casmi<span class="nt">&lt;/artifactId&gt;</span>
    <span class="nt">&lt;version&gt;</span>{{ version }}<span class="nt">&lt;/version&gt;</span>
<span class="nt">&lt;/dependency&gt;</span>
</pre>

<p>
  casmi is a visualization library for Java.<br />
  casmi supports 2D/3D realtime rendering base on OpenGL.<br />
  With assembling graphics primitives (line, circle, sphere, etc.), you can easily design scene layouts.<br/>
  Smooth tween animations and scene sequencing functions add rich user interface on your application.
</p>
    </div>

    <div id="full">
      {{ post.text(lang) }}
    </div>

{% endblock %}
